body {
    background-color: #424242;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-wrapper {
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    /* font-weight: 450; */
}

.todo-wrapper h1 {
    margin: 0;
}

.todo-wrapper p {
    font-style: italic;
    color: #424242;
    margin: 5px 0;
}

.todo-wrapper ol {
    margin: 20px 0 ;
}

.todo-wrapper ol li {
    margin: 5px 0 ;
    padding: 3px;
    transition: all 0.5s ease-out;
}

.todo-wrapper form {
    display: inline-block;
}

.todo-wrapper  input {
    padding: 3px 5px;
}

.todo-wrapper .pretty-button:hover {
    cursor: pointer;
    opacity: 0,7;
}

.todo-wrapper .pretty-button {
    margin: 10px 2px;
    color: white;
    background-color: #424242;
    border-radius: 15px;
    padding: 5px 20px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: small;
}